.app {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  width: 100%;
  min-height: 100vh;
  background-color: #1a1a1a;
  color: #ffffff;
}
